# -----------------------------
# Miscellaneous
# -----------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
# VS Code config optional
#.vscode/

# -----------------------------
# Flutter/Dart
# -----------------------------
.dart_tool/                  # Flutter/Dart build and tool caches
.flutter-plugins-dependencies
.pub-cache/                  # Pub global cache, huge and user-specific
.pub/
**/doc/api/                  # Dart doc output
**/ios/Flutter/.last_build_id
/build/                      # All platform build outputs
/coverage/                   # Test coverage reports

# Obfuscation / symbolication
app.*.symbols
app.*.map.json

# -----------------------------
# Android build artifacts
# -----------------------------
/android/app/build/
# Older Android Studio paths
/android/app/debug
/android/app/profile
/android/app/release

# -----------------------------
# iOS build artifacts
# -----------------------------
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/ephemeral/
/ios/Pods/
/ios/.symlinks/
/ios/Runner.xcworkspace/
/ios/build/

# -----------------------------
# Windows build artifacts
# -----------------------------
/windows/runner/Debug/
/windows/runner/Release/
/windows/flutter/ephemeral/
/windows/x64/*.dll
/windows/x86/*.dll
/windows/flutter/generated_plugin_registrant.*
/windows/flutter/generated_plugins.cmake

# -----------------------------
# macOS build artifacts
# -----------------------------
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/Flutter/Flutter.framework
/macos/Flutter/Flutter.podspec
/macos/Runner.xcworkspace/
/macos/build/

# -----------------------------
# Linux build artifacts
# -----------------------------
/linux/flutter/ephemeral/
/linux/build/
